<div class="container">

  <div class="box">

    <div class="dashboard-head">
      <div style="display: flex; justify-content: space-between; width: 100%;">
        <div>
          <%= link_to restaurant_path(@restaurant), class: "link-to" do %>
            <i class="fa fa-arrow-left" aria-hidden="true"></i> Retour
          <% end %>
        </div>
        <div class="dashboard-head-image" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @restaurant.photo.nil? ? "" : (cl_image_path @restaurant.photo.public_id, width:100, height: 100, crop: :fill) %>)">
          <%= link_to edit_restaurant_path(@restaurant), class: "btn btn-primary" do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          <% end %>
        </div>
        <div style="width: 68.39px;">
        </div>
      </div>
      <h2 class="dashboard-head-name"><%= @restaurant.name %></h2>
      <p class="text-center" style="font-size: 14px; margin: 10px;">Rechercher un utilisateur pour lui autoriser l'accès à la plateforme de commande.</p>
      <div class="navbar-wagon-middle text-center"">
        <!-- Search form -->
        <%= form_tag restaurant_profiles_path(@restaurant), method: :get, class: "navbar-wagon-search large" do %>
          <%= text_field_tag :query, params[:query],
                            id: "product_search",
                            placeholder: "Taper un email ou un nom",
                            onfocus: "this.placeholder = ''",
                            onblur: "this.placeholder = 'Taper un email ou un nom'",
                            class: "navbar-wagon-search-input large" %>
          <%= button_tag(type: "submit", class: "navbar-wagon-search-btn") do %>
            <i class="fa fa-search"></i>
          <% end %>
        <% end %>
      </div>
    </div>


    <% if @users.first.nil? %>

      <p class="text-center" style="font-size: 14px; margin: 10px;">Aucun résultat de recherche.</p>

    <% else %>

      <p class="text-center" style="font-size: 14px; margin: 10px;">Résultats pour "<%= params[:query] %>"</p>

      <div class="dashboard-body">
        <div class="chapter">

          <% @users.each do |user|%>

            <%= link_to Profile.find_by(user: user, restaurant: @restaurant).nil? ? new_restaurant_profile_path(@restaurant, {user_id: user.id}) : edit_restaurant_profile_path(@restaurant, Profile.find_by(user: user, restaurant: @restaurant), {user_id: user.id}), class: "item-link" do %>

              <div class="item-user">
                <%= image_tag set_user_photo(user), class: "item-user-photo" %>
                <div class="item-user-text">
                  <p><%= set_fullname(user) %></p>
                  <p><i class="fa fa-envelope-o" aria-hidden="true"></i> : <%= user.email %></p>
                  <p><i class="fa fa-mobile" aria-hidden="true"></i>  : <%= user.phone_number %></p>
                  <% if !Profile.find_by(user: user, restaurant: @restaurant).nil? %>
                    <p>Profil : <%= Profile.find_by(user: user, restaurant: @restaurant).role %></p>
                  <% else %>
                    <p>Profil non autorisé</p>
                  <% end %>
                </div>
                <div class="item-user-icon">
                  <% if !Profile.find_by(user: user, restaurant: @restaurant).nil? %>
                    <p class="unlock"><i class="fa fa-unlock" aria-hidden="true"></i></p>
                  <% else %>
                    <p class="lock"><i class="fa fa-lock" aria-hidden="true"></i></p>
                  <% end %>
                </div>
              </div>

            <% end %>

          <% end %>

        </div>

      </div>

    <% end %>

  </div>
</div>
