<div class="container">

  <div class="box">

    <div class="dashboard-head">
      <div style="display: flex; justify-content: space-between; width: 100%;">
        <div>
          <%= link_to restaurant_path(@restaurant), class: "link-to" do %>
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          <% end %>
        </div>
        <div class="dashboard-head-image" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @restaurant.photo.nil? ? "" : (cl_image_path @restaurant.photo.public_id, width:100, height: 100, crop: :fill) %>)">
          <%= link_to edit_restaurant_path(@restaurant), class: "btn btn-primary" do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          <% end %>
        </div>
        <div style="width: 16px;">
        </div>
      </div>
      <div class="dashboard-head-text text-center">
        <h2 class="dashboard-head-name"><%= @restaurant.name %></h2>
        <h3 class="dashboard-head-name">Sélectionner un fournisseur</h3>
      </div>
    </div>

    <div class="row">

      <% if @suppliers.first.nil? %>

        <h3 class="text-center" style="margin-top: 20px;">Aucun fournisseur répertorié</h3>

      <% else %>

        <% @suppliers.each do |supplier|%>

          <div class="col-xs-12 col-sm-4">

            <%= link_to new_restaurant_order_path(@restaurant, supplier_id: supplier), class: "card-link" do %>

              <div class="card-company">

                <div class="card-company-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= supplier.photo.nil? ? "" : (cl_image_path supplier.photo.public_id, width: 100, height: 100, crop: :fill) %>)"></div>

                <h2 class="card-company-name"><%= supplier.name %></h2>

              </div>

            <% end %>

          </div>

        <% end %>

      <% end %>

    </div>
  </div>
</div>
