<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <% if user_signed_in? %>

    <%= link_to restaurants_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo_200px.png" %>
    <% end %>

  <% else %>

    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo_200px.png" %>
    <% end %>

  <% end %>

  <!-- Middle Navigation -->

<!-- = form_tag presenters_path, method: :get do
    - if params[:query].present?
      .btn-search.btn-clearsearch
        = link_to "clear", presenters_path
    - else
      .search
        Search
    = text_field_tag :query, params[:query],
                     id: "presenter_search",
                     autocomplete: "off"
    = submit_tag "go", class: "btn-search" -->

  <% if @restaurant && !@restaurant.id.nil? && !current_page?(restaurant_profiles_path(@restaurant)) && !current_page?(restaurant_suppliers_path(@restaurant)) %>
    <div class="navbar-wagon-middle">
      <!-- Search form -->
      <%= form_tag products_path, method: :get, class: "navbar-wagon-search" do %>
        <%= text_field_tag :query, params[:query],
                          id: "product_search",
                          placeholder: "Trouver un produit",
                          onfocus: "this.placeholder = ''",
                          onblur: "this.placeholder = 'Trouver un produit'",
                          class: "navbar-wagon-search-input" %>
        <%= button_tag(type: "submit", class: "navbar-wagon-search-btn") do %>
          <i class="fa fa-search"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <!-- <div class="navbar-wagon-middle"> -->
    <!-- Search form -->
    <!-- <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Trouver un produit">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div> -->


  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Notification -->
      <%#= link_to "#", class: "navbar-wagon-item navbar-wagon-link" do %>
        <!-- <div class="badge-container">
          <i class="fa fa-envelope-o"></i>
          <div class="badge badge-blue">3</div>
        </div> -->
      <%# end %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag set_user_photo(current_user), class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to root_path do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <% if current_user.restaurants.length == 1 %>
                <%= link_to restaurant_index_validated_path(current_user.restaurants.first) do %>
                  <i class="fa fa-first-order" aria-hidden="true"></i>  <%= t(".profile", default: "Mes commandes") %>
                <% end %>
              <% end %>
            </li>
            <li>
              <% if current_user.restaurants.length == 1 %>
                <%= link_to restaurant_relations_path(current_user.restaurants.first) do %>
                  <i class="fa fa-address-book-o" aria-hidden="true"></i>  <%= t(".profile", default: "Mes fournisseurs") %>
                <% end %>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Mon profil") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Déconnexion") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Inscription"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>

  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

        <% if user_signed_in? %>

          <li>
            <%= link_to root_path do %>
              <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
            <% end %>
          </li>
          <li>
            <% if current_user.restaurants.length == 1 %>
              <%= link_to restaurant_index_validated_path(current_user.restaurants.first) do %>
                <i class="fa fa-first-order" aria-hidden="true"></i>  <%= t(".profile", default: "Mes commandes") %>
              <% end %>
            <% end %>
          </li>
          <li>
            <% if current_user.restaurants.length == 1 %>
              <%= link_to restaurant_relations_path(current_user.restaurants.first) do %>
                <i class="fa fa-address-book-o" aria-hidden="true"></i>  <%= t(".profile", default: "Mes fournisseurs") %>
              <% end %>
            <% end %>
          </li>
          <li>
            <%= link_to edit_user_registration_path do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "Mon profil") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Déconnexion") %>
            <% end %>
          </li>

        <% else %>

          <!-- Login text link -->
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

        <% end %>
      </ul>
    </div>
  </div>
</div>

