 <!-- http://vicfriedman.github.io/blog/2015/07/18/create-multiple-objects-from-single-form-in-rails/ -->
<div class="container">

  <div class="box">

  <h2 class="text-center"><%= @supplier.name %></h2>
  <h3 class="text-center">Bon de commande</h3>

    <div class="row">

      <%= simple_form_for @order, url: restaurant_order_path(@restaurant, @order), method: :patch do |order_form| %>

        <%= order_form.simple_fields_for :promotions do |promotions_form| %>

          <% if !@order_lines_promotions.first.nil? %>
            <div class="col-xs-12">
              <h3 class="card-product-title">Mes promotions</h3>
            </div>
            <% @order_lines_promotions.each.with_index do |order_line_promotion, index| %>
              <div class="col-xs-12">
                <div class="card-product">
                <%= promotions_form.simple_fields_for "order_line_#{index}", order_line_promotion do |f| %>

                  <%= f.text_field :product_id, value: order_line_promotion.product.id, class: "hidden" %>
                  <%= f.label :quantity, "#{order_line_promotion.product.name}", class: "title" %>
                  <%= f.input :quantity, input_html: { min: '0', step: order_line_promotion.product.measuring_unit == "kgs" ? '0.5' : '1' }, class: "quantity", label: false, placeholder: 0 %>
                  <div class="unit"><%= order_line_promotion.product.measuring_unit %></div>
                <% end %>
                </div>
              </div>
            <% end %>
          <% end %>

        <% end %>

        <%= order_form.simple_fields_for :favorites do |favorites_form| %>

          <% if !@order_lines_favorites.first.nil? %>
            <div class="col-xs-12">
              <h3 class="card-product-title">Mes favoris</h3>
            </div>
            <% @order_lines_favorites.each.with_index do |order_line_favorite, index| %>
              <div class="col-xs-12">
                <div class="card-product">
                <%= favorites_form.simple_fields_for "order_line_#{index}", order_line_favorite do |f| %>

                  <%= f.text_field :product_id, value: order_line_favorite.product.id, class: "hidden" %>
                  <%= f.label :quantity, "#{order_line_favorite.product.name}", class: "title" %>
                  <%= f.input :quantity, input_html: { min: '0', step: order_line_favorite.product.measuring_unit == "kgs" ? '0.5' : '1' }, class: "quantity", label: false, placeholder: 0 %>
                  <div class="unit"><%= order_line_favorite.product.measuring_unit %></div>
                <% end %>
                </div>
              </div>
            <% end %>
          <% end %>

        <% end %>

        <%= order_form.simple_fields_for :others do |others_form| %>

          <% if !@order_lines.first.nil? %>
            <div class="col-xs-12">
              <h3 class="card-product-title">Tous les produits</h3>
            </div>
            <% @order_lines.each.with_index do |order_line, index| %>
              <div class="col-xs-12">
                <div class="card-product">
                <%= others_form.simple_fields_for "order_line_#{index}", order_line do |f| %>

                  <%= f.text_field :product_id, value: order_line.product.id, class: "hidden" %>
                  <%= f.label :quantity, "#{order_line.product.name}", class: "title" %>
                  <%= f.input :quantity, input_html: { min: '0', step: order_line.product.measuring_unit == "kgs" ? '0.5' : '1' }, class: "quantity", label: false, placeholder: 0 %>
                  <div class="unit"><%= order_line.product.measuring_unit %></div>
                <% end %>
                </div>
              </div>
            <% end %>
          <% end %>

        <% end %>

        <%= hidden_field_tag(:relation_id, @relation.id) %>
        <%= hidden_field_tag(:delivery_date, @order.delivery_date, options = { class: "datepicker_hidden_field" }) %>

        <div class="col-xs-12 text-center">
          <% if @order.status == "En cours" %>
            <%= submit_tag("Enregistrer", :id=>"button-submit", :name=>"submit", type: "submit", class: "btn btn-success btn-modal") %>
            <button type="button" class="btn btn-success btn-modal" data-toggle="modal" data-target=".bs-example-modal-sm">Valider</button>
          <% elsif @order.status == "Validée" %>
            <button type="button" class="btn btn-success btn-modal" data-toggle="modal" data-target=".bs-example-modal-sm">Enregistrer</button>
          <% end %>
        </div>

        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Choississez votre date de livraison</h4>
              </div>
              <div class="modal-body text-center">
                <div class="calendar" style="display: inline-block;"></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Retour</button>
                <%= submit_tag("Valider", type: "submit", :id=>"button-submit", class: "btn btn-success", :name=>"submit") %>
              </div>
            </div>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <script>
    $(document).ready(function () {

        $('.calendar').datepicker({
            format: "dd/mm/yyyy",
            weekStart: 1,
            startDate: "+1d",
            daysOfWeekDisabled: [0],
            todayHighlight: true,
            multidate: false,
            language: 'fr',
        });

        $('.calendar').datepicker();
        $('.calendar').on('changeDate', function() {
            $('.datepicker_hidden_field').val(
                $('.calendar').datepicker('getFormattedDate')
            );
        });

    });

  </script>
<% end %>

