<div class="container">

  <div class="box">

    <div class="dashboard-head">
      <div style="display: flex; justify-content: space-between; width: 100%;">
        <div>
          <%= link_to restaurants_path, class: "link-to" do %>
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          <% end %>
        </div>
        <div class="dashboard-head-image" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @restaurant.photo.nil? ? "" : (cl_image_path @restaurant.photo.public_id, width:100, height: 100, crop: :fill) %>)">
          <%= link_to edit_restaurant_path(@restaurant), class: "btn btn-primary" do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          <% end %>
        </div>
        <div style="width: 16px;">
        </div>
      </div>
      <div class="dashboard-head-text text-center">
        <h2 class="dashboard-head-name"><%= @restaurant.name %></h2>
        <h3 class="dashboard-head-name">Tableau de bord</h3>
        <%= link_to "Passer vos commandes", restaurant_relations_path(@restaurant), class: "btn btn-success dashboard-head-cta" %>
      </div>
    </div>

    <div class="dashboard-body">
      <div class="chapter">

        <div class="chapter-head">

          <h2 class="chapter-title">Utilisateurs (<%= @restaurant.users.size %>)</h2>

          <%= link_to restaurant_profiles_path(@restaurant), class: "btn btn-primary chapter-link" do %>
            <i class="fa fa-user-plus" aria-hidden="true"></i>
          <% end %>

        </div>

        <% @profiles.each do |profile|%>

          <%= link_to @restaurant.profiles.select { |p| p.role == "Profil admin" }.size == 1 ? (profile.role == "Profil admin" ? "#" : edit_restaurant_profile_path(@restaurant, profile, {user_id: profile.user.id})) : edit_restaurant_profile_path(@restaurant, profile, {user_id: profile.user.id}), class: "item-link" do %>

            <div class="item-user">
              <%= image_tag set_user_photo(profile.user), class: "item-user-photo" %>
              <div class="item-user-text">
                <p><%= set_fullname(profile.user) %></p>
                <p><i class="fa fa-envelope-o" aria-hidden="true"></i> : <%= profile.user.email %></p>
                <p><i class="fa fa-mobile" aria-hidden="true"></i>  : <%= profile.user.phone_number %></p>
                <p>Profil : <%= profile.role %></p>
              </div>
            </div>

          <% end %>

        <% end %>

      </div>

      <div class="chapter">

        <div class="chapter-head">

          <h2 class="chapter-title">Fournisseurs (<%= @restaurant.suppliers.size %>)</h2>

          <%= link_to new_restaurant_relation_path(@restaurant), class: "btn btn-primary chapter-link" do %>
            <i class="fa fa-user-plus" aria-hidden="true"></i>
          <% end %>

        </div>


        <% @suppliers.each do |supplier|%>
          <div class="item">
            <div class="item-visible-part">
              <p><%= supplier.name %></p>
              <% if Relation.find_by(supplier: supplier, restaurant: @restaurant).delivery_conditions.first.nil? %>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
              <% end %>
            </div>
            <div class="item-invisible-part">
              <p><i class="fa fa-envelope-o" aria-hidden="true"></i> : <%= supplier.email %></p>
              <p><i class="fa fa-phone" aria-hidden="true"></i>  : <%= supplier.phone_number %></p>
              <p>Secteur : <%= supplier.sector %></p>
              <p>Prix : <%= supplier.is_price_infos ? "Disponible" : "Non disponible" %></p>
              <p>Conditions de livraison :</p>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function () {

      $(".item-invisible-part").hide();

      $(".item-visible-part").on('click', function () {

          var $a = $(this).next();
          $a.slideToggle(); //toggle the current one
          $(".item-invisible-part").not($a).slideUp(); //hide the others

      });

    });
  </script>
<% end %>
