<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="form-devise">

        <h2>Modifier ce fournisseur</h2>

        <%= simple_form_for(@supplier) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>

            <%= f.input :name, label: "Nom de l'enseigne", required: true, autofocus: true %>

            <%= f.label :address, "Adresse" %>
            <%= f.input :address, required: true, autofocus: true, :label => false, :placeholder => "1 Rue de la République" %>
            <%= f.input :zip, required: true, autofocus: true, :label => false, :placeholder => "Code Postal" %>
            <%= f.input :locality, required: true, autofocus: true, :label => false, :placeholder => "Ville" %>

            <%= f.input :phone_number, label: "Téléphone", hint: "Nous avons besoin de votre numéro de téléphone pour vous contacter en cas de problème sur votre commande.", required: true, autofocus: true %>

            <%= f.input :sector, label: "Secteur d'activité", collection: ["Boucherie", "Poissonnerie", "Epicerie", "Crèmerie", "Fruits et légumes", "Boissons", "Vins et spiritueux", "Cafés", "Autres"], required: true, autofocus: true %>

            <%= f.input :siret, label: "Numéro SIRET", required: true, autofocus: true %>

            <%= f.input :photo, as: :attachinary %>

          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sauvegarder" %>
          </div>
        <% end %>

        <h4 class="text-center" ><%= link_to "Retour", :back %></h4>
        <div class="text-center">
          <%= link_to "Supprimer ce fournisseur", supplier_path(@supplier), data: { confirm: "Etes-vous sûr ?" }, method: :delete %>
        </div>

      </div>
    </div>
  </div>
</div>
